* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #efa86e, #df5d36);
    clip-path: circle(45% at right -15%);
}
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ebaf54, #efa86e);
    clip-path: circle(50% at 50% -35%);
}
section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #d08618, #d87a2e);
    clip-path: circle(35% at left -5%);
    box-shadow: 10px
}
section {
    position: relative;
    width: 100%;
    overflow: hidden;
}
section .title {  
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center; 
}
section .title h1  {
    margin: 0;
    margin-bottom: 0.3em;
    padding: 0;
    color: rgb(38, 37, 37);
    font-family: 'Cagliostro', sans-serif;
    font-size: 7vw;
    text-shadow: 4px 3px 3px rgb(89, 87, 87);
}
section .title h1::before {
    content: '';
    
    animation: animate 6s linear infinite;

}
@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}
a  {
    text-decoration: none;
}
.container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
    position: relative;
    width: 80vh;
    height: 35vh;
    margin: 60px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(82, 76, 76, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
p {
    margin: 2rem;
    font-size: 1.2em;
}   
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.age-group {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.age-group .btn{
   height: 9vw;
   min-height: 4.2rem;
   max-height: 10rem;
   width: 7vw;
   min-width: 4.2rem;
   max-width: 10rem;
   border-radius: 50%;
   border: none;
   outline: none;
   position: relative;
   cursor: pointer;
   background-repeat: no-repeat;
   background-size: cover;

}

.age-group .btn:nth-child(1) {
    background-image: url("sources/kid.png");
}
.age-group .btn:nth-child(2) {
    background-image: url("sources/adolescent.png");
}
.age-group .btn:nth-child(3) {
    background-image: url("sources/young.png");
}
.age-group .btn:nth-child(4) {
    background-image: url("sources/adult.png");
}
.age-group .btn:nth-child(5) {
    background-image: url("sources/old.png");
}
.age-group .btn:hover {
    opacity: 70%;
}

.age-group .btn span {
    width: inherit;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
}