* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

.age-group {
    margin-top: 15px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.age-group .link-img span {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
} 
.age-group .link-img img {
    width: 7vw;
    cursor: pointer;
}
.age-group .link-img:hover {
    opacity: 70%;
}
.select-group-button {
    position: absolute;
    top: 0; 
    margin: 0;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    transition: background 0.2s;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:1s ease 2s normal forwards 1 fadein;
    opacity:0.1
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}


.select-group-button--active {
    background: #4d4d4d;
}


.content-header {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s;
    background: #4d4d4d;
}

.content-card {
    display: block;
    align-items: center;
    justify-content: center;
}

.background-parallax img {
    width: 100%;
}
.background-parallax p {
    padding: 1em;
}

.parallax {
    background-attachment: fixed;
}

.hero {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 650px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero h1 {
    margin-bottom: 25rem;
    font-size: 2.8rem;
}


.health {
 background-image: url(../sources/background.webp);
}

.carousel-item  {
    padding: 3em;
    width: 60vw !important;
    height: 40vh;
    margin: 50px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(173, 54, 54, 0.911);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.carousel-item p {
    display: flex;
    align-items: center;
    justify-content: center;
}

