* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body::before {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10deg, #94E85A, #FFD970);
    clip-path: circle(17% at left 40%);
}
body::after {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background: linear-gradient(10deg, #EB1630, #CC63FF);
    clip-path: circle(15% at right 80%);
}

.age-group {
    margin-top: 15px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.age-group .link-img span {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
} 
.age-group .link-img img {
    width: 7vw;
    cursor: pointer;
}
.age-group .link-img:hover {
    opacity: 70%;
}
.select-group-button {
    position: absolute;
    z-index: 1;
    top: 0; 
    margin: 0;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333a2;
    transition: background 0.2s;
    animation:1s ease 2s normal forwards 1 fadein;
    -webkit-animation:1s ease 2s normal forwards 1 fadein;
    opacity:0.1
}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}


.select-group-button--active {
    background: #4d4d4d;
}


.content-header {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s;
    background: #4d4d4d;
}

.content-card {
    display: block;
    align-items: center;
    justify-content: center;
}

.background-parallax img {
    width: 100%;
}
.background-parallax p {
    padding: 1em;
}

.parallax {
    background-attachment: fixed;
}

.hero {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 650px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: #9EFFF5;
}

.hero h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}

.carousel-item  {
    padding: 1.5em;
    width: 70vw !important;
    height: 70vh;
    margin: 2.5em;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #e1e1dd;  
    border: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Newsreader', serif;
}

.carousel-item  img{
    margin: 2vw;
    width: 45vh;
    float: left;
    border-radius: 5%;
    transform-origin: center;
    object-fit: cover;
}

.carousel-item  h3 {
    text-align: center;
    margin-bottom: 0.8em;
    font-family: 'Oswald', sans-serif;
}

.carousel-item  p {
    font-size: 1em;
}

.carousel i {
    margin-left: 48%;
}

.font-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flinston {
    width: 15vw;
}
